<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for categroy,message in messages %}
            <li class="{{ categroy }}">{{ message }}</li>
        {% endfor %}
        
    {% endif %}
{% endwith %}

{% if current_user.is_authenticated %}
    <p>用户已经被授权</p>
{#    <a href="{{ url_for('users.logout') }}">登出</a>#}
{% else %}
    <p>用户没有被授权</p>
{% endif %}


<form action="{{ url_for('.pk') }}" method="post">
    {{ form.csrf_token }}
    {{ form.pk1() }}
    {{ form.pk2() }}
    {{ form.submit() }}
</form>

</body>
</html>