{#
通过 verbatim 来暂停jinja2的解析可有效解决
{% raw %}
{#<h1 class="user-name">{{ user.name }}</h1>
{#{% endraw %}
#}

{% extends "bases.html" %}
{% block head %}
    {{ super() }}
    <title>sas测试api</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.esm.browser.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        /* Custom Styles */

        ul.nav-tabs {
            width: 140px;
            margin-top: 10px;
            border-radius: 4px;
            border: 1px solid #ddd;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
        }

        ul.nav-tabs li {
            margin: 0;
            border-top: 1px solid #ddd;
        }

        ul.nav-tabs li:first-child {
            border-top: none;
        }

        ul.nav-tabs li a {
            margin: 0;
            padding: 8px 16px;
            border-radius: 0;
        }

        ul.nav-tabs li.active a,
        ul.nav-tabs li.active a:hover {
            color: #fff;
            background: #0088cc;
            border: 1px solid #0088cc;
        }

        ul.nav-tabs li:first-child a {
            border-radius: 4px 4px 0 0;
        }

        ul.nav-tabs li:last-child a {
            border-radius: 0 0 4px 4px;
        }

        ul.nav-tabs.affix {
            top: 20px;
            /* Set the top position of pinned element */
        }
    </style>
{% endblock %}


{% block content %}
    {% raw %}
    <div class="container">
        <div class="row">
            <div class="col-xs-2" id="myScrollspy">
                <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="125">
                    <li class="active"><a href="#section-1">更新坐标</a></li>
                    <li><a href="#section-2">一键下单</a></li>
                    <li><a href="#section-3">第三部分</a></li>
                    <li><a href="#section-4">第四部分</a></li>
                    <li><a href="#section-5">第五部分</a></li>
                </ul>
            </div>
            <div class="col-xs-10">
                <h5 id="section-1">更新坐标</h5>
                <div style="height: 400px;width: auto;">
                    <hr>
                    <div id="app">
                        <span>token:&nbsp;&nbsp;</span>
                        <input v-model="token" placeholder="输入token值">
                        <br>
                        <br>
                        <span style="float: left;">json:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <textarea v-model="json1" placeholder="添加需要传递的params" id="testarea"></textarea>
                        <br>
                        <p id="info">返回的get数据:{{message1}}</p>
                        <p id="info">返回的post数据:{{message2}}</p>
                        <button type="button" v-on:click="s1">GET请求</button>
                        <button type="button" v-on:click="s2">POST请求</button>
                    </div>
                </div>
                <hr>
                <script type="text/javascript">
                    var vm = new Vue({
                        el: "#app",
                        data() {
                            return {
                                message1: {},
                                message2: {},
                                token: '',
                                json1: ''
                            }
                            // message: '返回的数据是:',
                            // token: '',
                            // json1: ''
                        },
                        methods: {

                            //这个是get请求
                            s1: function () {
                                var ss = this.token
                                var json1 = this.json1
                                // console.log(ss)
                                console.log(json1)
                                axios.get('http://10.125.0.96:8081/v1/resources/PS-NIO-00000001-DE-00011/remoteConfigurations?config_key=wifiSSID&config_key=wifiPassword')
                                    .then(function (response) {
                                        vm.message1 = response.data.data
                                        // console.log('-----------')
                                        // console.log(vm.message)
                                        // alert(response.data.data)
                                    })
                                    .catch(function (error) {
                                        console.log(error);
                                    });
                            },


                            // 下面是POST请求:
                            s2: function () {
                                var json2 = this.json1
                                console.log(json2)
                                axios({
                                    method: 'post',
                                    url: 'http://10.125.7.223:7600/tibbers/v1/staff/update-location?app_id=10003',
                                    data: json2,
                                    headers: {
                                        'Content-Type': 'application/json',
                                        'Authorization': 'Bearer 91LuYop5WhAbiVBhmnum6Q=='
                                    }
                                }).then(function (response) {
                                    vm.message2 = response.data;
                                }).catch(function (error) {
                                    console.log(error);
                                });
                            }

                        }


                    })
                </script>
                <h5 id="section-2">一键下单</h5>
                <div style="height: 400px;width: auto;">
                    <div id="example">
                        <select v-model="city">
                            <option v-for="option in arr" :value="option.city">
                                {{ option.city }}
                            </option>
                        </select>
                        <select v-model="user_id">
                            <option v-for="option in user_id_arrs" :value="option.user_id">
                                {{ option.user_id }}
                            </option>
                        </select>
                        <select v-model="vehicle_id" v-if="vehicle_id">
                            <option v-for="option in vehicle_id_arrs" :value="option.vehicle_id">
                                {{ option.vehicle_id }}
                            </option>
                        </select>
                        </br>
                        <span>你即将下单的车是: {{ order_messages['vehicle_id'] }}</span> </br>
                        <button v-on:click="socketsend" class="btn btn-primary">一键下单</button>
                        <span>返回的数据是:{{return_message}}</span>
                    </div>
                    <script type="text/javascript">
                        var arrAll = [{
                            city: "承德",
                            sub: [
                                {user_id: "请选择", sub: []},
                                {
                                    user_id: "101286",
                                    sub: [{vehicle_id: "请选择"}, {vehicle_id: "0bff5831e2b54f9cb4324ae364f4124b"}, {vehicle_id: "849f807e4b42435695d33f37bd0d4ab9"}, {vehicle_id: "7d8f6258c71e422aaf9c2c8a345ff081"}, {vehicle_id: "8f536f4cab1f471e97fbc236ebd7b98f"}],
                                    other: {
                                        longitude: 117.940593,
                                        latitude: 40.962585,
                                        poi_id: "qq:9570565040342482524",
                                        poi_area: "110380"
                                    }

                                },
                                {
                                    user_id: "101287",
                                    sub: [{vehicle_id: "请选择"}, {vehicle_id: "111111"}, {vehicle_id: "222222"}, {vehicle_id: "333333"}],
                                    other: {
                                        longitude: 117.940593,
                                        latitude: 40.962585,
                                        poi_id: "poi_id",
                                        poi_area: "110380"
                                    }
                                }
                            ]
                        }]

                        var vm = new Vue({
                            el: '#example',
                            data: {
                                arr: arrAll,
                                city: '承德',
                                user_id: '101286',
                                vehicle_id: '111111',
                                user_id_arrs: [],
                                vehicle_id_arrs: [],
                                order_messages: {},
                                return_message: {}
                            },
                            methods: {
                                updateCity: function () {
                                    for (var i in this.arr) {
                                        var obj = this.arr[i];
                                        console.log('----------------');
                                        console.log(obj);
                                        if (obj.city == this.city) {
                                            console.log('=================')
                                            this.user_id_arrs = obj.sub;

                                            // this.order_messages = obj.sub['other'];
                                            break;
                                        }
                                    }
                                    this.user_id = this.user_id_arrs[1].name;
                                },
                                updateDistrict: function () {
                                    for (var i in this.user_id_arrs) {
                                        var obj = this.user_id_arrs[i];
                                        if (obj.user_id == this.user_id) {
                                            this.vehicle_id_arrs = obj.sub;
                                            this.order_messages = obj.other;
                                            this.order_messages['user_id'] = this.user_id;
                                            break;
                                        }
                                    }
                                    if (this.vehicle_id_arrs && this.vehicle_id_arrs.length > 0 && this.vehicle_id_arrs[1].vehicle_id) {
                                        this.vehicle_id = this.vehicle_id_arrs[0].vehicle_id;
                                        // this.order_messages['vehicle_id'] = this.vehicle_id_arrs[1].vehicle_id;

                                    } else {
                                        this.vehicle_id = '';
                                    }
                                },

                                //这里是监控选择的是哪一项,根据选项来生成选择的内容
                                updateVehicle: function () {
                                    for (var i in this.vehicle_id_arrs) {
                                        var obj = this.vehicle_id_arrs[i];
                                        if (obj.vehicle_id == this.vehicle_id) {
                                            this.order_messages['vehicle_id'] = this.vehicle_id;
                                            break;
                                        }
                                    }
                                },


                                socketsend: function () {
                                    // this.order_messages['vehicle_id'] = this.vehicle_id;
                                    axios({
                                        method: 'post',
                                        url: '/api/test3',
                                        data: this.order_messages,
                                        headers: {
                                            'Content-Type': 'application/json',
                                            'Authorization': 'Bearer 91LuYop5WhAbiVBhmnum6Q=='
                                        }
                                    }).then(function (response) {
                                        vm.return_message = response.data;
                                        console.log(response)

                                    }).catch(function (error) {
                                        console.log(error);
                                    });
                                }
                            },
                            beforeMount: function () {
                                this.updateCity();
                                this.updateDistrict();
                            },
                            watch: {
                                city: function () {
                                    this.updateCity();
                                    this.updateDistrict();
                                },
                                user_id: function () {
                                    this.updateDistrict();
                                },
                                vehicle_id: function () {
                                    this.updateVehicle();
                                }
                            }
                        })
                    </script>
                </div>
                <hr>
                <h5 id="section-3">第三部分</h5>
                <div style="height: 400px;width: auto;"></div>
                <hr>
                <h5 id="section-4">第四部分</h5>
                <div style="height: 400px;width: auto;"></div>
                <hr>
                <h5 id="section-5">第五部分</h5>
                <div style="height: 400px;width: auto;"></div>
            </div>
        </div>
    </div>
    {% endraw %}
{% endblock %}



